# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Electron build output
out/

# Local songs directory
ImportLocalSongs/

# Log files
log.txt

# user data
DIYSongList.json
FollowedArtists.json
Latest.json
MyFavorite.json
PlayList.json
SearchHistory.json

# Android build output
android/app/build/
android/build/

# Gradle
.gradle/
android/gradle/wrapper/gradle-wrapper.jar

# Snapshot directory
snapshot/

# Capacitor
capacitor.config.ts

# IDE
.idea/
.vscode/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
integration-log.md
win_index.html
yorushika.json
User.json
